@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: grid;
  grid-template: 80px 1fr / 300px 1fr;
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* HEADER STYLING */

header {
  background-color: #e85d75;
  grid-column: span 2;
  padding: 40px;
  color: white;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo > h1 {
  font-size: 30px;
}
.logo > img {
  height: 40px;
  width: 40px;
}

/* NAV STYLING */

nav {
  background-color: hsla(0, 0%, 95%);
  border-right: 1px solid black;
}
nav div,
nav button {
  width: 100%;
}
nav button:not(.modal__button) {
  min-height: 60px;
  padding: 20px;
  font-size: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
nav button:hover:not(.modal__button),
nav button:active:not(.modal__button),
.active {
  background-color: #fff;
}
nav img {
  height: 30px;
}
.nav__section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__projects {
  display: flex;
}
.nav__dropdown {
  display: none;
  animation: fadeIn 0.5s ease-in both;
}
.nav__dropdown > button {
  padding-left: 50px !important;
  font-size: 18px;
}
.nav__dropdown > img {
  height: 18px;
}
.nav__dropdown p {
  margin-top: 4px;
}

.arrow-up {
  transition: 0.5s ease;
}
.rotate {
  transform: rotate(180deg);
}
.active {
  background-color: #fff !important;
  font-weight: 700;
}
.add__project-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 10px 10px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1;
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.modal__header {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 700;
}
label {
  display: block;
}
textarea {
  resize: none;
}
main {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__header-div {
  display: flex;
  gap: 20px;
}
.main__header-div img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.main__header {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  min-width: max-content;
}
.main__description {
  opacity: 0.7;
  width: 70%;
  text-align: center;
}
.task__headers {
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  font-weight: 700;
}
.project__task {
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  display: flex;
  transition: 0.3s ease;
  margin: 5px;
}
.project__task:hover {
  box-shadow: 0px 0px 5px hsl(0, 0%, 70%);
  transform: scale(1.005);
}
.project__task > p:first-child {
  margin-right: auto;
}
.task__left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8fd694;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8fd694;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.task__options {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tooltip {
  height: 24px;
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 130px;
  bottom: 110%;
  left: 50%;
  margin-left: -65px; /* Use half of the width (120/2 = 60), to center the tooltip */
  z-index: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.task__options img {
  cursor: pointer;
  transition: 0.4s ease;
}
.task__done {
  opacity: 0.7;
  position: relative;
}
.task__done:after {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
  height: 1px;
  background: black;
  content: "";
  width: 100%;
  display: block;
}

.modal__close {
  float: right;
  background-color: inherit;
  border: none;
  height: min-content;

  cursor: pointer;
}
.modal__close img {
  transition: 0.4s ease;
}
.modal__close:hover img {
  transform: scale(1.1);
}
.modal span,
main span {
  font-weight: 700;
}

.left-border-green {
  border-left: 10px solid #8fd694;
}
.left-border-yellow {
  border-left: 10px solid #ffd670;
}
.left-border-red {
  border-left: 10px solid #c23a5c;
}
.left-border-darkred {
  border-left: 10px solid #b40c36;
}
.form__error {
  color: red;
  visibility: hidden;
}
.show {
  display: block;
}
.show_error {
  visibility: visible;
}
