@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
  display: grid;
  grid-template: 80px 1fr / 300px 1fr;
  width: 100vw;
  min-height: 100vh;
}

/* HEADER STYLING */

header {
  background-color: #e85d75;
  grid-column: span 2;
  padding: 40px;
  color: white;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo > h1 {
  font-size: 30px;
}
.logo > img {
  height: 40px;
  width: 40px;
}

/* NAV STYLING */

nav {
  background-color: hsla(0, 0%, 95%);
  border-right: 1px solid black;
}
nav div,
nav button {
  width: 100%;
}
nav button:not(.modal__button) {
  min-height: 60px;
  padding: 20px;
  font-size: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
nav button:hover:not(.modal__button),
nav button:active:not(.modal__button),
.active {
  background-color: #fff;
}
nav img {
  height: 30px;
}
.nav__section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__projects {
  display: flex;
}
.nav__dropdown {
  display: none;
  animation: fadeIn 0.5s ease-in both;
}
.nav__dropdown > button {
  padding-left: 50px !important;
  font-size: 18px;
}
.nav__dropdown > img {
  height: 18px;
}
.nav__dropdown p {
  margin-top: 4px;
}
.show {
  display: block;
}
.arrow-up {
  transition: 0.5s ease;
}
.rotate {
  transform: rotate(180deg);
}
.active {
  background-color: #fff !important;
  font-weight: 700;
}
.add__project-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 10px 10px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.modal__header {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 700;
}
label {
  display: block;
}
textarea {
  resize: none;
}
main {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__header-div {
  display: flex;
  gap: 20px;
}
.main__header-div img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.main__header-div img:hover {
  transform: scale(1.1);
}
.main__header {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  min-width: max-content;
}
.main__description {
  opacity: 0.7;
  width: 70%;
  text-align: center;
}

.project__task {
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  background-color: hsl(0, 0%, 95%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  margin: 10px;
}
.project__task > p:first-child {
  margin-right: auto;
}
.modal__close {
  float: right;
  background-color: inherit;
  border: none;
  height: min-content;

  cursor: pointer;
}
.modal__close img {
  transition: 0.4s ease;
}
.modal__close:hover img {
  transform: scale(1.1);
}

.left-border-green {
  border-left: 10px solid #8fd694;
}
.left-border-yellow {
  border-left: 10px solid #ffd670;
}
.left-border-red {
  border-left: 10px solid #c23a5c;
}
.left-border-darkred {
  border-left: 10px solid #b40c36;
}
